@import '~antd/dist/antd.css';


.ant-avatar {
  margin-top: 16px;
  margin-right: 16px;
}
.ant-row-rtl .ant-avatar {
  margin-right: 0;
  margin-left: 16px;
}

.container{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  /* border: 2px solid black; */
}

.icon-square {
  display: flex;
  flex-direction: column;
}